.formtest{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto!important;
    height: 100%;
}

.formtest-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    text-align: center;
    margin: auto!important;
    height: 100%;
}